body {
  background-color: #EEE;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  margin: 20px 0 20px 0;
}

.area {
  width: 100%;
  max-width: 350px;
  text-align: center;
  padding: 10px;
}

.logo {
  width: 90%;
  height: auto;
}

.remamber {
  padding-top: 28px;
  padding-bottom: 28px;
}

.gray {
  color: #999;
  padding: 20px;
}